{% extends "ticketSales/layout.html" %}

{% block titlepage %} 
    جزئیات کنسرت {{ concertdetails.name }}
{% endblock%}

{% block mainContent %}

    <div class="col-md-10">
        <h3>نام کنسرت : {{ concertdetails.name }}</h3>
        <h3>خواننده کنسرت : {{ concertdetails.singer_name }}</h3>
        <h3>مدت زمان کنسرت : {{ concertdetails.lenght }}</h3>
    </div>
    <div class="col-md-2">
        <div class="imageBox">
            <img src = "{{ concertdetails.poster.url }}">
        </div>
    </div>
    <ul class="btnul">
        <li><a href="/ticketSales/concert_edit/{{concertdetails.id}}" class="btn btn-success">ویرایش</a></li>
    </ul>
{% endblock %}