{% extends "ticketSales/layout.html" %}

{% block titlepage %} 
    لیست کنسرت ها
{% endblock%}

{% block mainContent %}
    <!-- {{concertcount}} -->
    {% if concertlist %}
        <form action="" method="GET">
            {{search_form}}
            <button type="submit" class="btn btn-success">جستجو</button>
        </form>
        
        {% for concert in concertlist %}
            <div class="col-md-2">
                <a href="/ticketSales/concert/{{ concert.id }}">
                    <div class="imageBox">
                        <img src="{{ concert.poster.url }}">
                        {{ concert  }}
                    </div>
                </a>
            </div>
        {% endfor %}
    {% endif %}

{% endblock%}
               
           